.bg-primary {
  background: #0075F6 !important;
}

.mr-2, .mx-2 {
  margin-right: 0.5rem !important;
}

.bg-light {
  background: #f8f9fa !important;
}

.p-5 {
  padding: 5px;
}

.p-7h {
  padding: 7.5px;
}


.p-10 {
  padding: 10px;
}


.p-15 {
  padding: 15px;
}


.p-20 {
  padding: 20px;
}


.p-25 {
  padding: 25px;
}

.pr-30 {
  padding-right: 30px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 15px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-40 {
  margin-bottom: 40px;
}


.mb-50 {
  margin-bottom: 50px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 15px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-35 {
  margin-top: 35px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-60 {
  margin-top: 50px;
}

.mt-70 {
  margin-top: 70px;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  position: relative;
  min-height: 1px;
}

.padding-fix {
  padding-right: 30px;
  padding-left: 30px;
}

.img-contain {
  display: block;
  //width: 100vw;
  //height: 100vh;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  background-size: contain !important;
}

.modal-header {
  position: relative;
  padding: 15px;
  background: #F9F9F9;
}

.modal-content {
  position: relative;
  background-color: white;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: none;
  border-radius: 0;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

@media (min-width: 768px) {
  .modal-dialog {
    //width: 600px;
    margin: 80px auto !important;
  }
}
